.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-forum {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 35em;
  margin: 0 auto;
  border-radius: 0.5em;
}

.next {
  width: 2em;
  height: 1.5em;
  background-image: url('./imgs/exchange.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 3.75em;
  right: 17em;
  transition: transform 0.5s;
}

.next:hover {
  cursor: pointer;
  pointer-events: auto;
  transform: scale(1.2);
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.switch-tab {
  background-color: rgba(43, 122, 226, 0.082);
  width: 6%;
  height: 4%;
  border-radius: 0.9em 0.9em 0 0;
  position: absolute;
  right: 2.3em;
  top: 8.75%;
  padding-top: 0.25em;
  transition: 0.25s;
}

.switch-tab:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.frm {
  right: 8.75%;
}

.sta-cover {
  background-color: #61dafb;
}

.toggle {
  position: absolute;
  top: 1em;
  left: 3em;
  width: 3em;
  height: 1.25em;
  border-radius: 0.25em;
  background-color: rgba(61, 121, 250, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.toggle div {
  width: 30%;
  height: 10%;
  margin: 0 auto;
  border-radius: 0.25em;
  background-color: black;
}

.toggle-inner {
  position: absolute;
  top: 2.25em;
  left: 2.5em;
  width: 4em;
  height: 1.5em;
  border-radius: 0.25em;
  height: 4.25em;
  cursor: pointer;
  animation: showMenu 2s;
  animation-fill-mode: forwards;
  
}

.toggle-inner div {
  border: 1px solid grey;
  display: inherit;
  margin: 0 auto;
  width: 90%;
  font-size: small;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
}

@keyframes showMenu {
  0%{
    color: transparent;
  }
  50%{
      color: grey;
  }
  100%{
    color: black;
  }
}
