.admin-cover {
    display: flex;
    justify-content: space-evenly;
    margin: 2em auto;
    width: 95%;
    height: 40em;
}

.create-cover {
    width: 50%;
}

.create-video {
    height: 15em;
    border-radius: 0.75em;
    box-shadow: 0 0.188em 1.550em -0.525em rgb(73, 71, 71);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quiz-template {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 27.5em;
    margin: 0 auto;
    border-radius: 0.75em;
    box-shadow: 0 0.188em 1.550em -0.525em rgb(73, 71, 71);
}

.admin-cover input {
    width: 60%;
    height: 10%;
    border: 0px solid transparent;
    border-radius: 0.9em;
    background-color: rgb(233, 232, 232);
    margin: 0 auto;
}

.quiz-template #q {
    width: 90%;
    height: 15%;
}

input:focus {
    outline: none;
}

#submit-link {
    display: flex;
    height: 10%;
    padding: 1em;
    align-items: center;
}

#submit-link input {
    height: 60%;
}

#t {
    width: 25%;
    text-align: center;
}

.c {
    position: inherit;
    height: 2em;
    width: 10em;
}
