.stats-cover {
    margin: 0 auto;
    width: 60%;
    height: 35em;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    align-items: center;
}

.chart {
    width: 55%;
    height: 70%;
    margin: 0 auto;
}

.legend {
    width: 25%;
    height: 30%;
    text-align: left;
    border-radius: 0.75em;
    box-shadow: 0 0.188em 1.550em -0.525em rgb(65, 63, 63);
    box-sizing: border-box;
    padding-left: 1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 6em;
    top: 12em;
}

.legend-bar {
    display: flex;
    align-items: center;
}

.legend-bar div {
    border-radius: 0.75em;
    margin-right: 0.5em;
    width: 2.5em;
    height: 2.5em;
}

