.stats-cover {
    margin: 0 auto;
    width: 60%;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.chart {
    width: 55%;
    height: 70%;
    margin: 0 auto;
}

